html {
  background-color: #263238;
  margin: 0.5em;
  font-family: 'Montserrat', 'Raleway', Helvetica, sans-serif;
  line-height: 1.6;
  box-sizing: border;
  font-size: 16px;
  color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
  animation: fadeIn 0.75s;
}


.champ-open-links {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.champ-icon {
  vertical-align: bottom;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.champ-open-links:hover .champ-icon {
  opacity: 1;
}

.champ-open-links:hover .overlay {
  opacity: 0;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.empty-results {
  color: red;
  opacity: 0.8;
}

.champion-search__icon {
  width: 10px;
  height: 10px;
  padding: 0 10px;
}

.mini-champ-icon {
  width: 35px;
  height: 35px;
  vertical-align: bottom;
}

.rank-header {
  color: lightgrey;
}

.rank-header {
  margin: 1em 0;
}

.sort-tri {
  font-size: 0.5em;
}

.player-rank-icon {
  width: 18px;
  height: 18px;
  vertical-align: bottom;
}



.player-sort-link:hover, .go-back:hover, .header-container:hover, .champ-open-links:hover {
  cursor: pointer;
}

#src-code, .player-sort-link, .table-player-link {
  color: yellow;
  text-decoration: underline;
}

#src-code, .player-sort-link:visited, .table-player-link:visited {
  color: yellow;
}

.faq-header {
  color: yellow;
  font-weight: normal;
}

.filter-rg-btn {
  font-size: 12px;
  border: 1px;
  padding: 0.5em;
  background-color: white;
  outline: none;
}

.filter-btn-active {
  background-color: darkslategray;
  color: white;
  border: none;
  outline: none;
}

.filter-rg-btn:active {
  border: none;
  outline: none;
}

.filter-rg-btn:hover {
  cursor: pointer;
  outline: none;
  border: none;
}

.filter-btn-active:active {
  border: none;
  background-color: white;
  outline: none;
}

.adv-filtering-open {
  display: inline-block;
  color: yellow;
  font-size: 0.8em;
  font-style: italic;
  text-decoration: underline;
}

.adv-filtering-open:hover {
  color: white;
  cursor: pointer;
}

.close-adv-filter:hover {
  background-color: darkslategray;
  color: white;
}

.close-adv-filter {
  font-size: 12px;
  border: 1px;
  padding: 0.5em;
}

.champs-pane-utility {
  margin: 10px 0;
}

.merged-input {
  display: inline-block;
  background-color: grey;
  max-width: 100%;
}

.merge-sep-button {
  padding: 0.5em;
  background-color: #212121;
  color: grey;
  border: 0;
  height: 28px;
  margin: 0.5em 0.5em 0.5em 0em;
  outline: none;
}

#sort-select {
  margin-left: 0em !important;
}

.merge-sep-button:hover {
  outline: none;
}

.merge-sep-button:hover, #region:hover, #sort-select:hover {
  cursor: pointer;
}

#region, #sort-select {
  height: 28px;
  margin: 0.5em 0.5em 0.5em 0.25em;
  color: grey;
  background-color: #212121;
  border: 0;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

#region:focus, #sort-select:focus {
  outline: none;
}

#region, .merge-sep-button, .sort-select {
  vertical-align: middle;
}

#region {
  padding-left: 5px;
}

.filter-champs {
  padding: 0.5em 0 0.5e, 0.5em;
  width: 105px;
  margin: 0;
  background-color: grey;
  border: 0;
  outline: none;
  color: white;
}

.filter-champs:-moz-placeholder {
  color: white;
  opacity: 0.8;
}

.filter-champs::-webkit-input-placeholder {
  color: white;
  opacity: 0.8;
}

.advFiltering {
  color: white;
}

.player-link:visited {
  color: blue;
}

.copyright {
  padding-top: 1em;
}

.center-align {
  text-align: center;
}

.loader-img {
  padding-top: 100px;
  padding-bottom: 250px;
}

.champions-page-nav {
  padding: 0;
}

.champions-page-nav li {
  display: inline-block;
  padding: 0 10px 0 0;
}
