html {
  background-color: black;
  margin: 0.5em;
  font-family: 'Raleway', Helvetica, sans-serif;
  line-height: 1.6;
  box-sizing: border;
  font-size: 16px;
  color: white;
}

.link {
  color: yellow;
  text-decoration: underline;
}

.link:hover {
  color: white;
  cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes flash {
  0% {
    text-shadow: 0px 0px 5px #cacacc;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 5px #cacacc;
  }
}

.new {
  background-color: white;
  font-size: 0.8em;
  padding: 0.5em;
}

.fade-in {
  animation: fadeIn 0.75s;
}

.flash {
    animation: 2s flash infinite;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.OneTricks {
  margin: 0 auto;
}

.main-header {
  color: white;
  font-size: 1.3em;
  margin-bottom: 0;
}

.instructions {
  color: yellow;
  font-size: 0.69em;
  margin: 1em 0;
}


@media only screen and (min-width: 500px) {
  .main-header {
    font-size: 1.7em;
  }
  .instructions {
    font-size: 1em;
  }
}

.caption {
  font-size: 0.8em;
  color: grey;
  font-style: italic;
  margin-top: 0;
}

.warning {
  color: red;
}

.champ-open-links {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.champ-icon {
  vertical-align: bottom;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.champ-open-links:hover .champ-icon {
  opacity: 1;
}

.champ-open-links:hover .overlay {
  opacity: 0;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.empty-results {
  color: red;
  opacity: 0.8;
}

.number-text {
  display: inline-block;
  font-family: 'Open Sans', serif;
  color: white;
}

.one-digit {
  margin: 28% 41%;
  font-size: 20px;
}

.two-digit {
  margin: 28% 33%;
  font-size: 20px;
}

.players-list-view {
  color: white;
}

.mini-champ-icon {
  width: 35px;
  height: 35px;
  vertical-align: bottom;
}

.go-back {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

.go-back:visited {
  color: yellow;
}

.rank-header {
  color: lightgrey;
}

.rank-header {
  margin: 1em 0;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.75em;
}

.player-links {
  flex: 1;
  background-color: white;
  margin: 0.5em;
  padding: 1em;
}

.active-sort {
  color: red !important;
}

.sort-tri {
  font-size: 0.5em;
}

.player-rank-icon {
  width: 18px;
  height: 18px;
  vertical-align: bottom;
}

.players-table {
  width: 100%;
  transition: 1s;
  text-align: left;
}

.players-table-header {
  font-size: 1.5em;
  padding: 0.8em 0em;
}

.player-sort-link:hover, .go-back:hover, .header-container:hover, .champ-open-links:hover {
  cursor: pointer;
}

#src-code, .player-sort-link, .table-player-link {
  color: yellow;
  text-decoration: underline;
}

#src-code, .player-sort-link:visited, .table-player-link:visited {
  color: yellow;
}

.faq-header {
  color: yellow;
  font-weight: normal;
}

.qa {
  margin-top: 1em;
  padding: 1em;
  background-color: #333333;
}

.qa-item {
  padding: 1em 0;
}

.question {
  color: yellow;
  margin: 0.5em 0;
}

.answer {
  color: white;
}

.filter-rg-btn {
  font-size: 12px;
  border: 1px;
  padding: 0.5em;
  background-color: white;
  outline: none;
}

/*.filter-rg-btn:hover {
  background-color: darkslategray;
  color: white;
}*/

.filter-btn-active {
  background-color: darkslategray;
  color: white;
  border: none;
  outline: none;
}

.filter-rg-btn:active {
  border: none;
  outline: none;
}

.filter-rg-btn:hover {
  cursor: pointer;
  outline: none;
  border: none;
}

.filter-btn-active:active {
  border: none;
  background-color: white;
  outline: none;
}

.adv-filtering-open {
  display: inline-block;
  color: yellow;
  font-size: 0.8em;
  font-style: italic;
  text-decoration: underline;
}

.adv-filtering-open:hover {
  color: white;
  cursor: pointer;
}

.close-adv-filter:hover {
  background-color: darkslategray;
  color: white;
}

.close-adv-filter {
  font-size: 12px;
  border: 1px;
  padding: 0.5em;
}

.champs-pane-utility {
  margin: 10px 0;
}

.merged-input {
  display: inline-block;
  background-color: grey;
  max-width: 100%;
}

.merge-sep-button {
  padding: 0.5em;
  background-color: #212121;
  color: grey;
  border: 0;
  height: 28px;
  margin: 0.5em 0.25em 0.5em 0.5em;
  outline: none;
  /*font-style: italic;*/
}

.merge-sep-button:hover {
  outline: none;
}

/*.merge-sep-button:hover .merge-sep-text {
  color: white;
  border-bottom: 1px solid white;
  transition: 1s;
}*/

.merge-sep-button:hover, #region:hover {
  cursor: pointer;
}

#region {
  height: 28px;
  margin: 0.5em 0.5em 0.5em 0.25em;
  color: grey;
  background-color: #212121;
  border: 0;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

#region:focus {
  outline: none;
}

#region, .merge-sep-button {
  vertical-align: middle;
}

#region {
  /*padding-top: 5px;*/
  padding-left: 5px;
}

.filter-champs {
  padding: 0.5em 0 0.5e, 0.5em;
  width: 105px;
  margin: 0;
  background-color: grey;
  border: 0;
  outline: none;
  color: white;
}

.filter-champs:-moz-placeholder {
  color: white;
  opacity: 0.8;
}

.filter-champs::-webkit-input-placeholder {
  color: white;
  opacity: 0.8;
}

.clear-input {
  font-size: 0.8em;
  display: inline-block;
  color: red;
  padding: 0 0.5em;
}

.advFiltering {
  color: white;
}

.clear-input:hover {
  cursor: pointer;
}

.player-link:visited {
  color: blue;
}

.copyright {
  color: white;
  text-align: center;
  padding: 1em;
}

.center-align {
  text-align: center;
}

.loader-img {
  padding-top: 100px;
  padding-bottom: 250px;
}

.not-found {
  color: white;
}